# Dependency directories
/server/node_modules/
/server/dist
/client/node_modules/
/client/dist

# Environment files
/server/.env
/client/.env

# Logs
/server/log.txt
/client/log.txt

# Node.js package files
/server/package-lock.json
/server/package.json
/client/package-lock.json
/client/package.json

# Google Cloud Platform service account JSON file
#/server/southern-waters-425513-d6-3bb59649cf3c.json



# Visual Studio Code settings
/server/.vscode/
/client/.vscode/

# IDE project files
/server/.idea/
/client/.idea/

# System files
/server/.DS_Store
/client/.DS_Store

# Temporary files
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/pnpm-debug.log*
/server/lerna-debug.log*
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*

# Windows thumbnail files
/server/Thumbs.db
/server/ehthumbs.db
/client/Thumbs.db
/client/ehthumbs.db

# macOS folder attributes
/server/.AppleDouble
/server/.DS_Store?
/server/._*
/server/.Spotlight-V100
/server/.Trashes
/server/ehthumbs.db
/server/Icon?
/client/.AppleDouble
/client/.DS_Store?
/client/._*
/client/.Spotlight-V100
/client/.Trashes
/client/ehthumbs.db
/client/Icon?
