.file-counts-modal .modal-dialog {
  max-width: 99%;
  width: 99%;
  height: 98vh;
  margin: 1.75rem auto;
}
.file-counts-modal .modal-content {
  height: 100%;
}

.file-counts-modal .modal-body {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: space-between;
}

.file-counts-modal .modal-body > div {
  flex: 1;
  margin: 0 10px;
}
