@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
body,
html {
  font-family: "Inter", sans-serif !important;
}
.div, .div1, .div2 /* וכו' */ {
  text-align: right;
}
.desktop2Child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fdfeff;
  width: 1440px;
  height: 1024px;
}
.p {
  margin: 0;
  /* font-size: 5px; */
}
.div {
  position: absolute;
  top: 251px;
  left: 64px;
  font-size: 32px;
  font-weight: 800;
  display: inline-block;
  width: 644px;
  height: 38px;
}
.unnamed1Icon {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 128px;
  height: 149px;
  object-fit: cover;
}
.p1 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}
.div1 {
  position: absolute;
  top: 281px;
  left: 37px;
  display: inline-block;
  width: 669px;
  height: 343px;
  font-size: 16px;
}
.desktop2Item {
  position: absolute;
  top: -3px;
  left: 730px;
  width: 710px;
  height: 589px;
  object-fit: cover;
}
.desktop2Inner {
  position: absolute;
  top: 42px;
  left: 577px;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #c7e8fe;
  width: 129px;
  height: 59px;
}
.rectangleDiv {
  position: absolute;
  top: 42px;
  left: 432px;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #c7e8fe;
  width: 129px;
  height: 59px;
}
.frameIcon {
  position: absolute;
  top: 59px;
  left: 593px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.desktop2Child1 {
  position: absolute;
  top: 686px;
  left: 839px;
  filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border: 3px solid #c7e8fe;
  box-sizing: border-box;
  width: 268px;
  height: 59px;
}
.desktop2Child2 {
  position: absolute;
  top: 779px;
  left: 839px;
  filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border: 3px solid #c7e8fe;
  box-sizing: border-box;
  width: 268px;
  height: 59px;
}
.desktop2Child3 {
  position: absolute;
  top: 686px;
  left: 1147px;
  filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border: 3px solid #c7e8fe;
  box-sizing: border-box;
  width: 268px;
  height: 59px;
}
.desktop2Child4 {
  position: absolute;
  top: 779px;
  left: 1147px;
  filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border: 3px solid #c7e8fe;
  box-sizing: border-box;
  width: 268px;
  height: 59px;
}
.desktop2Child5 {
  position: absolute;
  top: 872px;
  left: 839px;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #c7e8fe;
  width: 576px;
  height: 59px;
}
.div2 {
  position: absolute;
  top: 707px;
  left: 1332px;
  font-size: 16px;
  display: inline-block;
  width: 64px;
  height: 15px;
}
.div3 {
  position: absolute;
  top: 707px;
  left: 1046px;
  font-size: 16px;
  display: inline-block;
  width: 43px;
  height: 15px;
}
.div4 {
  position: absolute;
  top: 890px;
  left: 1105px;
  font-size: 16px;
  display: inline-block;
  width: 45px;
  height: 23px;
}
.div5 {
  position: absolute;
  top: 801px;
  left: 1350px;
  font-size: 16px;
  display: inline-block;
  width: 46px;
  height: 15px;
}
.div6 {
  position: absolute;
  top: 801px;
  left: 976px;
  font-size: 16px;
  display: inline-block;
  width: 119px;
  height: 15px;
}
.vectorIcon {
  position: absolute;
  top: 21px;
  left: 756px;
  width: 659px;
  height: 541px;
}
.div7 {
  width: 83px;
  position: relative;
  display: inline-block;
  height: 14px;
  flex-shrink: 0;
}
.vectorIcon1 {
  width: 12.8px;
  position: relative;
  height: 9.3px;
}
.parent {
  position: absolute;
  top: 766px;
  left: 121px;
  width: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div8 {
  width: 99px;
  position: relative;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.group {
  position: absolute;
  top: 763px;
  left: 336px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.container {
  position: absolute;
  top: 763px;
  left: 554px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div10 {
  width: 110px;
  position: relative;
  display: inline-block;
  height: 14px;
  flex-shrink: 0;
}
.frameDiv {
  position: absolute;
  top: 682px;
  left: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.parent1 {
  position: absolute;
  top: 682px;
  left: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div12 {
  width: 139px;
  position: relative;
  display: inline-block;
  height: 14px;
  flex-shrink: 0;
}
.parent2 {
  position: absolute;
  top: 682px;
  left: 546px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div13 {
  width: 66px;
  position: relative;
  display: inline-block;
  height: 16px;
  flex-shrink: 0;
}
.parent3 {
  position: absolute;
  top: 723px;
  left: 139px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div14 {
  width: 80px;
  position: relative;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.parent4 {
  position: absolute;
  top: 722px;
  left: 355px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div15 {
  width: 134px;
  position: relative;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.parent5 {
  position: absolute;
  top: 722px;
  left: 551px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div16 {
  position: absolute;
  top: 624px;
  left: 995px;
  font-size: 32px;
  display: inline-block;
  width: 265px;
  height: 31px;
}
.div17 {
  position: absolute;
  top: 55px;
  left: 633px;
  font-size: 24px;
}
.div18 {
  position: absolute;
  top: 57px;
  left: 492px;
  font-size: 24px;
}
.frameIcon1 {
  position: absolute;
  top: 914px;
  left: 689px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.vectorIcon10 {
  width: 24px;
  position: relative;
  height: 24px;
  z-index: 0;
}
.vectorIcon11 {
  width: 70.83%;
  position: absolute;
  margin: 0 !important;
  height: 70.83%;
  top: 16.67%;
  right: 16.67%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 21px;
}
.parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7px;
}
.yaelbcBCpacoil {
  position: relative;
}
.yaelbcBCpacoilWrapper {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vectorIcon12 {
  width: 18px;
  position: relative;
  height: 14px;
  z-index: 0;
}
.vectorIcon13 {
  width: 75%;
  position: absolute;
  margin: 0 !important;
  height: 25%;
  top: 29.17%;
  right: 12.5%;
  bottom: 45.83%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame1 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 3px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
}
.div20 {
  width: 179px;
  position: relative;
  display: inline-block;
  height: 15px;
  flex-shrink: 0;
}
.frameIcon2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.parent7 {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frameParent {
  position: absolute;
  top: 910px;
  left: 109px;
  width: 608px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.frameIcon3 {
  position: absolute;
  top: 56px;
  left: 457px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.desktop2 {
  width: 100%;
  position: relative;
  background-color: #fdfeff;
  height: 1024px;
  overflow: hidden;
  text-align: right;
  font-size: 15px;
  color: #000;
  font-family: "Inter", "Inter-Regular", sans-serif;
}
